*{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 0%;


}

.header {

overflow: hidden;

}






.header img {

float: left;
width: 250px;
margin-top: 30px;
margin-left: 30px;



}

.header p {

float: right;
font-size: 70px;
color: white;
margin-right: 60px;
font-weight: bold;
text-shadow: 2px 0px 25px;
margin-top: 30px;

}

.navbar{

background-color: rgb(46, 44, 44);
overflow: hidden;



}

.navbar a {

width: 25%;
color: white;
font-size: 30px;
text-align: center;
float: left;
text-decoration: none;
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
}

.navbar a:hover{

background-color: white;
color: black;



}

.ourinfo{


background-color: rgb(82, 82, 82);
color: white;
text-align: center;
width: 100%;
height: 160px;
margin: 10px auto 5px auto;



}

.Heading{

background-color: black;
color: white;
width: 200px;
text-transform: uppercase;
height: 30px;
padding-top: 5px;
margin-left: 43%;
margin-bottom: 5px;



}

.carrds{

width: 100%;


}

.cardsheading{

background-color: rgb(107, 102, 102);
color: white;
text-align: center;
font-size: 40px;
text-transform: uppercase;
width: 800px;
margin: 40px auto 20px auto;
/* top right bottom left */
}

.box{

border: 3px dotted white;
background-color: gray;
float: left;
margin-left: 4%;
margin-right: 4%;
width: 25%;
height: 420px;

}

.box p{

font-size: 40px;
text-transform: uppercase;
color: black;
text-align: center;
-webkit-text-stroke: 1px white;

}

.box p:hover{

color: white;
background-color: black;


}

.box img{

display:block;
margin: auto;
padding-top: 5px;




}

.footer{
background-color: black;
color: white;
text-align: left;
width: 100%;
text-transform: capitalize;

padding-left: 80px;
padding: 15px;
position: fixed;
left: 0%;
bottom: 0%;
border-bottom: 1px solid white;
letter-spacing: 2px;




}